{{ define "main" }}
<!-- Header -->
<div class="carousel slide">
  <div class="carousel-inner">
	<div class="carousel-item active">
	  <div class="">
		<img class="d-block w-100" src="/images/dev-2.jpg" />
		<div class="overlay"></div>
	  </div>
	  <div class="carousel-caption d-none d-md-block">
		<h2 class="text-white">Arctic Blue Studio Consulting<br><span class="accented-text">Case Studies</span></h2>
		<p>Explore detailed breakdowns of how our services have helped past clients grow to new heights</p>
	  </div>
	</div>
  </div>
</div>
<div class="container container-gapped-thin d-md-none">
  <div class="row">
	<div class="col">
	  <h2>Arctic Blue Studio Consulting<br><span class="accented-text">Case Studies</span></h2>
	  <p>Explore detailed breakdowns of how our services have helped past clients grow to new heights</p>
	</div>
  </div>
</div>
<!-- Case Study 1 -->
<div class="container">
	<div class="row row-gapped align-items-center">
		<div class="col">
			<h2 class="section-header">Case Study 1: <span class="header-addition">Mass E-commerce Onboarding</span></h2>
		</div>
	</div>
	<div class="row row-gapped">
		<h3>Overview</h3>
		<div class="text-block">
			<p>Lorem ipsum dolor sit amet viverra tellus gravida donec cursus vestibulum urna hac. Eget luctus ultricies consectetur erat aliquet lacus aenean eleifend dictum donec purus. Fermentum massa auctor luctus at morbi pretium praesent consequat magna ut quisque luctus vulputate quam. Lobortis facilisis faucibus gravida incididunt tortor erat semper nisi. Curabitur quisque dui id imperdiet convallis id integer proin orci fusce donec ornare.</p>
			<p>Lorem ipsum dolor sit amet viverra tellus gravida donec cursus vestibulum urna hac. Eget luctus ultricies consectetur erat aliquet lacus aenean eleifend dictum donec purus. Fermentum massa auctor luctus at morbi pretium praesent consequat magna ut quisque luctus vulputate quam. Lobortis facilisis faucibus gravida incididunt tortor erat semper nisi. Curabitur quisque dui id imperdiet convallis id integer proin orci fusce donec ornare.</p>
		</div>
		<h3>Outcome</h3>
		<div class="text-block">
			<p>Lorem ipsum dolor sit amet pulvinar convallis aenean integer tristique aliqua cursus vulputate urna ut. Ut feugiat volutpat blandit sagittis vel aenean donec ac faucibus labore incididunt a cursus faucibus. Volutpat in ultricies tincidunt magna aliqua sapien purus elementum. Fusce lectus dui tortor nullam ut fames integer arcu. Mattis tristique at mauris quis sapien malesuada sodales fermentum morbi tincidunt feugiat sollicitudin sagittis.</p>
		</div>
		<div class="tech-used-pills">
			<h3>Technology Used</h3>
			<span class="badge rounded-pill text-bg-primary">Swift</span>
			<span class="badge rounded-pill text-bg-primary">Automated Data Processing</span>
		</div>
	</div>
	<hr>
</div>
<!-- Case Study 2 -->

<!-- Case Study 3 -->
{{ end }}