<footer class="main-footer">
	{{ partialCached "head/js.html" . }}
	<div class="container container-gapped-thin">
		<div class="row footer-row-main">
			<div class="col">
				<h3>Arctic Blue Studio Consulting</h3>
				<p class="header-addition">Information Systems, Data Management, and Software Development Experts</p>
			</div>
			<div class="col text-end">
				<ul class="list-unstyled">
					<li>
						<a href="/data">Data & E-commerce Management Services</a>
					</li>
					<li>
						<a href="/dev">Web and Software Services</a>
					</li>
					<li><a class="" href="https://forms.gle/JHWEGDRrkj7QkJYY6">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col center">
				<p class="footer-subtitle">Copyright {{ time.Now.Year }} | <a href="https://forms.gle/JHWEGDRrkj7QkJYY6">Contact Us</a></p>
			</div>
		</div>
	</div>
</footer>