<!-- Navigation -->
<nav class="navbar sticky-top navbar-accented" data-bs-theme="">
	<div class="container-fluid navbar-notice text-center">
		<p class="ms-auto me-auto"><a href="https://forms.gle/JHWEGDRrkj7QkJYY6">Contact Arctic Blue Studio today to expand your customer reach!</a></p>
	</div>
	<div class="container-fluid navbar-expand-md">
		<a class="navbar-brand" href="/">
			<img class="ms-3" src="/images/abs-logo-2016-outline.svg" width="85"/>
		</a>
		<a class="navbar-brand fw-bolder website-title" href="/">Arctic Blue Studio</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link" href="/data">E-commerce Management</a></li>
				<li class="nav-item"><a class="nav-link" href="/dev">Web & Software Development</a></li>
				<li class="nav-item hide">
					<a class="nav-link active" aria-current="page" href="https://forms.gle/JHWEGDRrkj7QkJYY6">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>
</nav>